Repository lin-97/gi-components: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,vue,js,jsx}": [
    "oxlint --fix",
    "prettier --write"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

feat: 修复文档问题
  apps/el/components/checkbox-group/index.ts
  apps/el/components/radio-group/index.ts
  apps/el/components/select/index.ts
  apps/el/index.ts
  apps/el/package.json
  docs/.vitepress/dist/assets/chunks/mockTable.g_wW9veb.js
  docs/.vitepress/dist/assets/chunks/theme.A43s0uZr.js
  docs/.vitepress/dist/assets/components_form_index.md.Cmst9aG4.lean.js
  docs/.vitepress/dist/assets/components_page-layout_index.md.C6-9tLVd.lean.js
  docs/.vitepress/dist/assets/components_table_index.md.D1_H393k.lean.js
  docs/.vitepress/dist/assets/guide_changelog.md.B1mWtDF3.js
  docs/.vitepress/dist/assets/guide_changelog.md.B1mWtDF3.lean.js
  packages/docs/.vitepress/config.ts
  packages/docs/components/checkbox-group/Demo.vue
  packages/docs/components/checkbox-group/DemoMultiple.vue
  packages/docs/components/checkbox-group/index.md
  packages/docs/components/radio-group/Demo.vue
  packages/docs/components/radio-group/index.md
  packages/docs/components/select/Demo.vue
  packages/docs/components/select/DemoMultiple.vue
  packages/docs/components/select/index.md
  pnpm-lock.yaml
Due: oxlint --fix, prettier --write

feat: 修改 GitHub Actions 部署配置，将文档产物复制到 docs 目录以支持 GitHub Pages
  .github/workflows/deploy.yml
Due: none

chore: update gitignore
  .gitignore
Due: none

fix: 添加 .nojekyll 文件禁用 Jekyll 处理，修复 GitHub Pages 部署错误
  .github/workflows/deploy.yml
Due: none

fix: 修复 GitHub Pages 部署配置
  .github/workflows/deploy.yml
  packages/docs/.vitepress/config.ts
Due: oxlint --fix, prettier --write

fix: 进一步修复 GitHub Pages 部署问题
  .github/workflows/deploy.yml
Due: none

fix: 在 VitePress 构建输出中直接创建 .nojekyll 文件
  .github/workflows/deploy.yml
Due: none

chore(ci): add GitHub Pages deploy workflow for VitePress
  .github/workflows/deploy.yml
Due: none

ci: update deploy.yml
  .github/workflows/deploy.yml
Due: none

fix: 修复 pnpm 安装问题和部署配置
  .github/workflows/deploy.yml
Due: none

fix: 修复 GitHub Actions YAML 格式问题
  .github/workflows/deploy.yml
Due: none

fix: 修复 pnpm 安装和构建调试问题
  .github/workflows/deploy.yml
Due: none

fix: 添加 docs/ 目录到 .gitignore
  .gitignore
Due: none

fix: 修复 Card 组件文档中的文件名大小写问题
  packages/docs/components/card/index.md
Due: prettier --write

fix: 添加更详细的构建调试信息
  .github/workflows/deploy.yml
Due: none

fix: 修复 PageLayout 组件文档中的文件名大小写问题
  packages/docs/components/page-layout/index.md
Due: prettier --write

chore: remove LINTING && MONOREPO docs
  LINTING.md
  MONOREPO.md
Due: prettier --write

feat: 文档优化
  apps/el/styles/index.scss
  apps/el/utils/createSelectDialog.ts
  packages/docs/.vitepress/config.mts
  packages/docs/.vitepress/config.ts
  packages/docs/style/index.md
  packages/docs/tools/createSelectDialog/components/TreeTable.vue
  packages/docs/tools/createSelectDialog/utils.ts
Due: oxlint --fix, prettier --write

feat: 文档组件类型引入
  apps/el/styles/index.scss
  packages/docs/.vitepress/config.ts
  packages/docs/tsconfig.json
Due: oxlint --fix, prettier --write

feat: 文档优化
  apps/el/package.json
  apps/el/styles/index.scss
  packages/docs/.vitepress/config.ts
  packages/docs/.vitepress/theme/index.ts
  packages/docs/components/page-layout/components/Table.vue
  packages/docs/tools/createSelectDialog/components/TreeTable.vue
  packages/docs/tsconfig.json
Due: oxlint --fix, prettier --write

feat: 版本更新
  apps/el/package.json
Due: prettier --write

feat: 删除packages\docs\_utils\
  packages/docs/_utils/dictRequest.ts
  packages/docs/_utils/mockTable.ts
  packages/docs/tsconfig.json
  packages/docs/vite.config.ts
Due: oxlint --fix, prettier --write

feat: 文档更新
  packages/docs/.vitepress/config.ts
  packages/docs/.vitepress/theme/index.ts
  packages/docs/components/page-layout/components/Table.vue
  packages/docs/components/table/Demo.vue
  packages/docs/vite.config.ts
Due: oxlint --fix, prettier --write

feat: 更新文档
  packages/docs/.vitepress/theme/index.ts
  packages/docs/components/page-layout/components/Table.vue
  packages/docs/components/table/Demo.vue
  packages/docs/tsconfig.json
Due: oxlint --fix, prettier --write

feat: 文档更新
  packages/docs/.vitepress/theme/index.ts
Due: oxlint --fix, prettier --write

feat: 修复文档
  apps/el/package.json
  packages/docs/.vitepress/config.ts
Due: oxlint --fix, prettier --write

feat: 文档修复测试1
  packages/docs/.vitepress/theme/index.ts
  packages/docs/vite.config.ts
Due: oxlint --fix, prettier --write

feat: 文档修复测试2
  packages/docs/.vitepress/theme/index.ts
  packages/docs/components/page-layout/components/Table.vue
  packages/docs/components/table/Demo.vue
  packages/docs/tsconfig.json
  packages/docs/vite.config.ts
Due: oxlint --fix, prettier --write

feat: 文档修复测试3
  .github/workflows/static.yml
  packages/docs/vite.config.ts
Due: oxlint --fix, prettier --write

feat: 文档修复测试4
  packages/docs/.vitepress/theme/index.ts
  packages/docs/components/page-layout/components/Table.vue
  packages/docs/components/table/Demo.vue
  packages/docs/vite.config.ts
Due: oxlint --fix, prettier --write

feat: 文档修复测试5
  packages/docs/.vitepress/theme/index.ts
Due: oxlint --fix, prettier --write

feat: 文档修复测试6
  packages/docs/components/page-layout/components/Table.vue
  packages/docs/components/table/Demo.vue
Due: oxlint --fix, prettier --write
